nav{
    font-size: 100px;
    background-color: #ffffff;
    margin-top:-21px;
    margin-inline:-7px;
    border-style: none;
    padding: 10px;
    position: relative;
}
.right{
    float: right;
    border-style: none;
    padding: 10px;
}
body{
    background-color: #d10214;
}
.slidecontainer{
    max-width: 80%;
    margin: auto;
}
.slide{
    display: none;
    position: relative;
    margin: 50px;
}
.pic{
    opacity: 0.85;
}
.news{
    position: absolute;
    bottom: 491px;
    right: 200px;
    color: #ff0000;
    background-color: #000000;
    opacity: 0.7;
    font-size: 30px;
    padding: 20px;
    border-bottom-right-radius: 10%;
}
.news2{
    position: absolute;
    bottom: 4px;
    right: 200px;
    color: #ff0000;
    background-color: #000000;
    opacity: 0.7;
    font-size: 30px;
    padding: 20px;
    border-top-right-radius: 10%;
}
.news3{
    position: absolute;
    bottom: 4px;
    color: #ff0000;
    background-color: #000000;
    opacity: 0.7;
    font-size: 30px;
    padding: 20px;
}
.slideh{
    font-size: 50px;
}
.text{
    opacity: 1.0;
}
#dots{
    position: relative;
    text-align: center;
}
.dot{
    cursor: pointer;
    height:15px;
    width: 100px;
    margin: 2px;
    background-color: #2c2c2c;
    display: inline-block;
}
.active, .dot:hover {
    background-color: #000000;
}
table{
    padding: 10px;
    font-size: 35px;
    background-color: #2c2c2c;
    color: #cccccc;
    margin: auto;
}
td{
    border-style: none;
    padding: 20px;
}
th{
    border-style: none;
    padding: 20px;
}
.name{
    text-align: left;
    position: relative;
    bottom: 0px;
}
.name:hover{
    opacity: 0.5;
}
h2{
    color: #ffffff;
    font-size: 70px;
    text-align: center;
}
.pos{
    border-style: outset;
    border-color: #2c2c2c;
}
.champ{
    border-left-color: rgb(0, 47, 255);
}
.europa{
    border-left-color: rgb(255, 81, 0);
}
.conf{
    border-left-color: rgb(0, 218, 73);
}
.play{
    border-left-color: rgb(255, 208, 0);
}
.releg{
    border-left-color: rgb(255, 0, 0);
}
.img{
    opacity: 0.5;
}
.img:hover{
    opacity: 1.0;
}
.cups{
    position: absolute;
    color:  #ffffff;
    z-index: 100;
    font-size: 20px;
}
.cups2{
    display: none;
}
a:link{
    color:#cccccc;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color:#cccccc;
    background-color: transparent;
    text-decoration: none;
}