nav{
    font-size: 100px;
    background-color: #ffffff;
    margin-top:-21px;
    margin-inline:-7px;
    border-style: none;
    padding: 10px;
    position: relative;
    left: -1px;
}
.right{
    float: right;
    border-style: none;
    padding: 10px;
}
body{
    background-color: #FF4B44;
}
.table1{
    border-style: inset;
    padding: 0px;
    font-size: 15px;
    background-color: #2c2c2c;
    color: #cccccc;
    text-align: center;
    position: relative;
    left: 200px;
}
.tableTR{
    border-style: none;
    padding: 10px;
}
.tableHead{
    border-style: none;
    padding: 10px;
}
.nameFC{
    text-align: left;
}
h2{
    color:#2c2c2c;
    font-size: 70px;
}
.champ{
    border-left-color: rgb(7, 131, 11), solid;
    border-left-width: 5px;    
}
.table2{
    border-style: solid;
    padding: 20px;
    font-size: 25px;
    background-color: #3c3c3c;
    color: #dddddd;
    text-align: start;
    position: relative;
    bottom: 437.5px;
    left: 800px;
}
.result{
    display: inline-block;
    border: 2px groove rgb(0,0,0);
    border-radius: 10%;
    font-size: smaller; 
}
.time{
    display: inline-block;
    font-size: small;
    color: #bbbbbb;
}
.goals{
    text-align: start;
    font-size: smaller;
}
.champions{
    border-style: solid;
    border-color: #2c2c2c;
    border-left-color: darkblue;
}
.europ{
    border-style: solid;
    border-color: #2c2c2c;
    border-left-color: darkred;
}
.conference{
    border-style: solid;
    border-color: #2c2c2c;
    border-left-color: #ce9418;   
}
.releg{
    border-style: solid;
    border-color: #2c2c2c;
    border-left-color: #d9110a;
}