nav{
    font-size: 100px;
    background-color: #dae025;
    margin-top:-21px;
    margin-inline:-6px;
    border-style: none;
    padding: 10px;
}
.right{
    float: right;
    border-style: none;
    padding: 10px;
}
body{
    background-color: #12233f;
}

h3{
    font-size: 300px;
}

table{

    border-style: unset;
    border-left-style: doubled;
    border-radius: 1%;
    border-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    padding-left: 0%;
    margin: 0px;
    font-size: 25px;
    position: relative;
    left: 440px;
    background-color:  rgb(255, 255, 255);;
    color: rgb(0, 0, 0);
    text-decoration: solid;
}

#champs{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(39, 121, 221);
}

#europa{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(255, 128, 0);
}

#conference{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(0, 164, 0);
}

#playofs{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(199, 210, 0);
}

#relegation{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(234, 0, 0);
}




#club{
    border-style: none;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
}

#name{
    text-align: left;
}
    



#image{
    background-color: rgb(255, 249, 249);
}

#Stand{
    color: rgb(180, 180, 180);
    text-align: center;
}