nav{
    font-size: 100px;
    background-color: #dae025;
    margin-top:-21px;
    margin-inline:-6px;
    border-style: none;
    padding: 10px;
}
.right{
    float: right;
    border-style: none;
    padding: 10px;
}
body{
    background-color: #12233f;
}

h3{
    font-size: 300px;
}

#t2{

    border-style: unset;
    border-left-style: doubled;
    border-radius: 1%;
    border-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    padding-left: 0%;
    margin: 0px;
    font-size: 25px;
    position: relative;
    left: 420px;
    background-color:  rgb(255, 255, 255);;
    color: rgb(0, 0, 0);
    text-decoration: solid;
}

#champs{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(39, 121, 221);
}

#europa{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(255, 128, 0);
}

#conference{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(0, 164, 0);
}

#playofs{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(199, 210, 0);
}

#relegation{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(234, 0, 0);
}




#club{
    border-style: none;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
}

#name{
    text-align: left;
}
    



#image{
    background-color: rgb(255, 249, 249);
}

#Stand{
    color: rgb(180, 180, 180);
    text-align: center;
}

td{
    border-style: none;
    padding: 8px;
    margin: 5px;
}


#Matches{
   text-align: center;
   color: rgb(180, 180, 180);
}

#t1{
    text-align: center;
    font-size: 25px;
    position: relative;
    left: 450px;
    background-color:  rgb(255, 255, 255);;
    color: rgb(0, 0, 0);
    text-decoration: solid;
    font-size: 25px;
    width: 550px;
}

#m34{
    text-align: center;
    background-color: #dae025;
    text-size-adjust: 20px;
}

#matches34{
    text-align: center;
    
}

.parent{
    margin: 5px;
    padding: 10px 10px;
    text-align: center;
}

.child1{
    display: inline-block;
    padding: 10px 10px;
    vertical-align: center;
}

.child2{
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 10px;
    vertical-align: center;
    
}

.child3{
    display: inline-block;
    padding: 10px 10px;
    vertical-align: center;
}