nav{
    font-size: 100px;
    background-color: #32cdcf;
    margin-top:-30px;
    margin-inline:-8px;
    border-style: none;
    padding: 10px;
}
.right{
    float: right;
    border-style: none;
    padding: 10px;
}
body{
    background-color: #7573f7;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3{
    font-size: 300px;
}

table{

    border-style: unset;
    border-left-style: doubled;
    border-radius: 1%;
    border-color: black;
    text-align: center;
    padding-right: 0%;
    padding-top: 1%;
    padding-bottom: 0%;
    padding-left: 0%;
    font-size: 35px;
    position: relative;
    left: 350px;
    background-color:  rgb(255, 255, 255);;
    color: rgb(0, 0, 0);
    text-decoration: solid;
}



#club{
    text-align: left;
}

#image{
    background-color: rgb(255, 249, 249);
}

#Stand{
    color: rgb(0, 0, 0);
    text-align: center;
}