nav{
    font-size: 100px;
    background-color: aqua;
    margin-top:-30px;
    margin-inline:-8px;
    border-style: none;
    padding: 10px;
}
.right{
    float: right;
    border-style: none;
    padding: 10px;
}
body{
    background-color: #7573f7;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3{
    font-size: 300px;
}

#t2{

   
    text-align: center;
    border-radius: 1%;
    padding: 10px;
    padding-left: 0%;
    font-size: 25px;
    position: relative;
    left: 400px;
    background-color:  rgb(255, 255, 255);;
    color: rgb(0, 0, 0);
    text-decoration: solid;
}

#champs{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(39, 121, 221);
}

#conference{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(0, 164, 0);
}



#club{
    border-style: none;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
}

#europa{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(255, 128, 0);
}

#relegation{
    border-style: none;
    border-color: black;
    border-width: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(234, 0, 0);
}

#name{
    text-align: left;
    position: relative;
    left: 0px;
}

#image{
    background-color: rgb(255, 249, 249);
}

#Stand{
    color: rgb(0, 0, 0);
    text-align: center;
}

#news{
    color: black;
    text-align: center;
}

td{
    border-style: none;
    padding: 8px;
    margin: 5px;
}

#Matches{
   text-align: center;
}

#t1{
    text-align: center;
    font-size: 25px;
    position: relative;
    left: 450px;
    background-color:  rgb(255, 255, 255);;
    color: rgb(0, 0, 0);
    text-decoration: solid;
    font-size: 25px;
    width: 550px;
}

#m38{
    text-align: center;
    background-color: aqua;
    text-size-adjust: 20px;
}

#matches38{
    text-align: center;
    
}

.parent{
    margin: 5px;
    padding: 10px 10px;
    text-align: middle;
}

.child1{
    display: inline-block;
    padding: 10px 10px;
    vertical-align: right;
}

.child2{
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 10px;
    vertical-align: middle;

}

.child3{
    display: inline-block;
    padding: 10px 10px;
    vertical-align: left;
}

#stats{
    text-align: center
}



#text.stats{
    text-align: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
    background-color: #7573f7;
    justify-content: space-between;
    margin: 50px;
}

.flex-element{
    display: inline-block;
    padding: 2px 2px;
    justify-content: flex-start;
    vertical-align: right;
    background-color: white;
    width: 1000pxs;

}
.flex-element2{
    display: inline-block;
    padding: 2px 2px;
    vertical-align: right;
    background-color: white;
}

.flex-element3{
    display: inline-block;
    padding: 2px 2px;
    vertical-align: right;
    background-color: white;
    justify-content: flex-end;

}

#player.name{
     text-align: left;
}
#im{
    width: 250px;
    position: center;

}

