nav{
    font-size: 100px;
    background-color: #0578ff;
    margin-top:-21px;
    margin-inline:-7px;
    border-style: none;
    padding: 10px;
    position: relative;
    left: 1px;
    color: #54e8fc;
}
.right{
    float: right;
    border-style: none;
    padding: 10px;
}
body{
    background-color: white;
}
.number{
    position: absolute;
    top: 0;
    font-size: 35px;
    color: #54e8fc;
    padding: 10px;
    background-color: #022570;
    opacity: 0.7;
}
.slidecontainer{
    max-width: 70%;
}
.slide{
    display: none;
    position: relative;
    margin: 50px;
}
.pic{
    opacity: 1;
}
.news{
    position: absolute;
    bottom: 4px;
    color: #54e8fc;
    background-color: #022570;
    opacity: 0.7;
    font-size: 50px;
    padding: 20px;
    border-bottom-right-radius: 10%;
}
.news2{
    position: absolute;
    bottom: 4px;
    color: #54e8fc;
    background-color: #022570;
    opacity: 0.7;
    font-size: 50px;
    padding: 20px;
    border-top-right-radius: 10%;
}
.news3{
    position: absolute;
    bottom: 4px;
    color: #54e8fc;
    background-color: #022570;
    opacity: 0.7;
    font-size: 50px;
    padding: 20px;
}
.news4{
    position: absolute;
    bottom: 4px;
    color: #54e8fc;
    background-color: #022570;
    opacity: 0.7;
    font-size: 50px;
    padding: 20px;
}
table{
    border-style: ridge;
    border-width: 50px;
    border-color: rgb(0, 47, 255);
    padding: 10px;
    font-size: 35px;
    background-color: ;
    text-align: center;
    position: relative;
    margin: auto;
}
td{
    border-style: none;
    padding: 20px;
}
th{
    border-style: none;
    padding: 20px;
}
.name{
    text-align: left;
    position: relative;
    bottom: 0px;
}
h2{
    color: #0578ff;
    font-size: 70px;
    text-align: center;
}
.pos{
    border-style: solid;
    border-color: transparent;
    border-width: 20px;
}
.champ{
    border-left-color: rgb(0, 47, 255);
}
.europa{
    border-left-color: rgb(255, 81, 0);
}
.conf{
    border-left-color: rgb(0, 218, 73);
}
.play{
    border-left-color: rgb(255, 208, 0);
}
.releg{
    border-left-color: rgb(255, 0, 0);
}