nav{
    font-size: 100px;
    background-color: #77bdff;
    margin-top:-21px;
    margin-inline:-6px;
    border-style: none;
    padding: 10px;
}
.right{
    float: right;
    border-style: none;
    padding: 10px;
}
body{
    background-color: #0052ce;
}
p{
    font-size: 100px;
}
