nav{
    font-size: 100px;
    background-color: #77bdff;
    margin-top:-21px;
    margin-inline:-6px;
    border-style: none;
    padding: 10px;
}
.right{
    float: right;
    border-style: none;
    padding: 10px;
}
body{
    background-color: #0052ce;
}
.table1{
    border-style: 1px solid rgb(0,0,0);
    background-color: white;
    border-radius: 2%;
    margin: 30px;
    margin-bottom: 0px;
}
.premierMatch{
    font-size: larger;
    color: aqua;
}
.result{
    display: inline-block;
    border: 2px groove rgb(0,0,0);
    border-radius: 10%; 
}
.time{
    display: inline-block;
    font-size: small;
    color: #4a4a4a;
}
.goals{
    text-align: start;
}
.table2{
    border-style: 1px solid rgb(0,0,0);
    background-color: white;
    border-radius: 2%;
    margin: 30px;
    position: relative;
    margin-left: 350px;
    bottom: 210px;
}
.premier{
    background-color: aqua;
}
.laligaLogo{
    display: inline-block;
    background-color: white;
}
.laliga{
    background-color: #ff4b44;
}
.bundes{
    background-color: red;
}
.bundesLogo{
    display:inline-block;
    background-color: white;
}
.table3{
    border-style: 1px solid rgb(0,0,0);
    background-color: white;
    border-radius: 2%;
    margin: 30px;
    position: relative;
    margin-left: 30px;
    bottom: 100px;
}
.table4{
border-style: 1px solid rgb(0,0,0);
background-color: white;
border-radius: 2%;
margin: 30px;
position: relative;
margin-left: 360px;
bottom: 430px;
}
.seriea{
    background-color: rgb(45, 143, 255);
}
.ligue1{
    background-color: #dae025;
}
.table5{
    border-style: 1px solid rgb(0,0,0);
    background-color: white;
    border-radius: 2%;
    margin: 30px;
    position: relative;
    margin-left: 380px;
    bottom: 435px; 
}
.title{
    color: #dddddd;
}
* {box-sizing: border-box}

.slideshow-container {
    max-width: 500px;
    height: 170px;
    position: absolute;
    margin: 30px;
    left: 560px;
  }
  
  
  .mySlides {
    display: inline;
  }

  img{
    vertical-align: center;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    margin-top: -20px;
    padding: 16px;
    color: rgb(180, 180, 180);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  
  .next {
    right: -255px;
    border-radius: 5px;
  }
  
  .prev{
    right: 45px;
  }
  
 
  
  .text {
    color: rgb(180, 180, 180);
    font-size: 15px;
    padding: 10px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: start;
  }
  
  
  .numbertext {
    color: rgb(180, 180, 180);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  